:host {
	flex:1;
	margin: 3px;
	display: flex;
	flex-direction: column;
	border: 1px solid #84759B;
}

.panel-content {
	overflow: auto;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.panel-header {
	height: 35px;
	min-height: 35px;
	line-height: 35px;
	padding: 0 5px 0 15px;
	font-size: 1.3em;
	font-weight: 500;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: space-between;
	background: #673AB7;
	color: white;
}

.panel-header .actions {
	float: right;
	line-height: 40px;
	display: flex;
	align-items: center;
}
