
.btn-group {
	margin-top: 3px;
	margin-bottom: 3px;
}

.btn {
	padding-left: 5px;
	padding-right: 5px;
}

:host.success i {
	color: #00dd00;
}

:host.success i {
	color: #00dd00;
}

:host.warning i {
	color: #FFA423;
}

:host.error i {
	color: #dd0000;
}

a {
	margin: 0;
	cursor:pointer;
}

a.sub-menu {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

a.sub-menu:hover {
	background-color: transparent;
	color: #009688;
	text-decoration: none;
}
