
<div class="panel-header" *ngIf="panelTitle!==undefined">
	<div *ngIf="panelTitle" class="title">{{panelTitle}}</div>
	<div class="actions">
		<ng-content select="[actions]"></ng-content>
	</div>
</div>
<div class="panel-content {{contentClass}}">
	<ng-content></ng-content>
</div>
