<panel panelTitle="LIST">
	<!--<ngx-datatable-->
		<!--class="material"-->
		<!--[rows]="list"-->
		<!--[loadingIndicator]="loading"-->
		<!--[columns]="columns"-->
		<!--[columnMode]="'force'"-->
		<!--[headerHeight]="40"-->
		<!--[footerHeight]="40"-->
		<!--[columnMode]="'force'"-->
		<!--[rowHeight]="'auto'"-->
		<!--[selectionType]="'single'"-->
		<!--[reorderable]="true"-->
		<!--(select)='onSelect($event)'>-->
	<!--</ngx-datatable>-->
</panel>

