<panel panelTitle="LIST">
	<datastore-list
		[datastore]="machineDatastore"
		[columns]="columns"
	></datastore-list>

</panel>

<!--<pre>-->
<!--{{list.length}}-->
<!--</pre>-->

<!--<div class="example-container mat-elevation-z8">-->
<!--<div class="example-header">-->
<!--<md-input-container floatPlaceholder="never">-->
<!--<input mdInput #filter placeholder="Filter users">-->
<!--</md-input-container>-->
<!--</div>-->

<!--<md-table #table [dataSource]="datasource" mdSort>-->

<!--<ng-container cdkColumnDef="userId">-->
<!--<md-header-cell *cdkHeaderCellDef> ID </md-header-cell>-->
<!--<md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>-->
<!--</ng-container>-->

<!--<ng-container cdkColumnDef="userName" >-->
<!--<md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>-->
<!--<md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>-->
<!--</ng-container>-->

<!--<ng-container cdkColumnDef="type">-->
<!--<md-header-cell *cdkHeaderCellDef md-sort-header> Type </md-header-cell>-->
<!--<md-cell *cdkCellDef="let row"> {{row.machineType?.name}} </md-cell>-->
<!--</ng-container>-->

<!--<md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>-->
<!--<md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>-->
<!--</md-table>-->
<!--</div>-->
