<nav md-tab-nav-bar>
	<menu-item link="machines" icon="home" label="Machines"></menu-item>
	<menu-item link="machines-types" icon="dollars" label="Types and prices"></menu-item>
</nav>
<div class="content">
	<router-outlet></router-outlet>
</div>
