<nav md-tab-nav-bar>

	<menu-item link="home" icon="home" label="Home"></menu-item>
	<menu-item link="admin" icon="desktop_windows" label="Admin"></menu-item>
	<menu-item *hasRole="Role.RESERVATION_VIEW" link="reservations" icon="date_range" label="Rerservation"></menu-item>
	<menu-item class="right" link="/auth/login" icon="person" label="Login"></menu-item>

</nav>
<div class="content">
	<router-outlet></router-outlet>
</div>

<!--<md-sidenav-container>-->
<!--<md-sidenav #sidenav mode="side" opened="true">-->

<!--<button md-raised-button-->
<!--*ngFor="let link of navLinks"-->
<!--[routerLink]="link.url"-->
<!--routerLinkActive #rla="routerLinkActive"-->
<!--[color]="rla.isActive ? 'primary' : 'default'">-->
<!--{{link.label}}-->
<!--</button>-->
<!--</md-sidenav>-->
<!--<button class="sidenav-button" md-mini-fab (click)="toggleSideNav()" color="primary">-->
<!--<md-icon [class.open]="sidenavOpen">chevron_right</md-icon>-->
<!--</button>-->


<!--<router-outlet></router-outlet>-->
<!--</md-sidenav-container>-->




