:host {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.right{
	float:right;
}

.content {
	flex: 1;
	background: rgba(103, 58, 183, 0.1);
	display: flex;
}

md-sidenav-container {
	flex: 1;
	background: rgba(103, 58, 183, 0.1);
}

md-sidenav {
	width: 200px;
}

md-sidenav button {
	width: 100%;
}

.sidenav-button {
	position: absolute;
	left: 3px;
	bottom: 3px;
}

.sidenav-button .open {
	transition: rotate 500ms;
	transform: rotate(180deg);
}
