
<h1 i18n>Reservations</h1>


<md-input-container>
	<input mdInput type="text" placeholder="Search"/>
	<input mdInput type="date" placeholder="Date"/>
</md-input-container>

<button md-button>Test</button>
<button md-raised-button>Test</button>

<pre> value : {{datastore.list.value|json}}</pre>
