<md-card class="login">
	<md-card-title i18n>Login</md-card-title>
	<md-card-content>

		<md-input-container class="full-width">
			<i mdPrefix class="material-icons">person</i>
			<input mdInput id="emailInput" type="text" placeholder="email" required focused="true"/>
		</md-input-container>
		<md-input-container class="full-width">
			<i mdPrefix class="material-icons">lock</i>
			<input mdInput type="password" placeholder="password" required/>
		</md-input-container>
	</md-card-content>
	<md-card-footer>
		<button class="full-width" md-raised-button color="primary">Login</button>
	</md-card-footer>
</md-card>
