<panel panelTitle="EDIT" *ngIf="item">
	<div actions>
		<simple-panel-action icon="save" (callback)="save()"></simple-panel-action>
	</div>
	<form>
		<md-input-container>
			<input name="name" mdInput placeholder="NAME" required [(ngModel)]="item.name">
		</md-input-container>
		<md-select name="type" placeholder="TYPE" [(ngModel)]="item.machineType.id">
			<md-option *ngFor="let type of types" [value]="type.id">{{ type.name }}</md-option>
		</md-select>
		<md-input-container>
			<input name="introduction" mdInput placeholder="INTRO" required [(ngModel)]="item.introduction">
		</md-input-container>

		<!--<pre>{{item.machineType|json}}</pre>-->

		<!--<table class="example-full-width" cellspacing="0">-->
		<!--<tr>-->
		<!--<td>-->
		<!--<md-input-container class="example-full-width">-->
		<!--<input mdInput placeholder="First name">-->
		<!--</md-input-container>-->
		<!--</td>-->
		<!--<td>-->
		<!--<md-input-container class="example-full-width">-->
		<!--<input mdInput placeholder="Long Last Name That Will Be Truncated">-->
		<!--</md-input-container>-->
		<!--</td>-->
		<!--</tr>-->
		<!--</table>-->

		<!--<p>-->
		<!--<md-input-container class="example-full-width">-->
		<!--<textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>-->
		<!--</md-input-container>-->
		<!--<md-input-container class="example-full-width">-->
		<!--<textarea mdInput placeholder="Address 2"></textarea>-->
		<!--</md-input-container>-->
		<!--</p>-->

		<!--<table class="example-full-width" cellspacing="0">-->
		<!--<tr>-->
		<!--<td>-->
		<!--<md-input-container class="example-full-width">-->
		<!--<input mdInput placeholder="City">-->
		<!--</md-input-container>-->
		<!--</td>-->
		<!--<td>-->
		<!--<md-input-container class="example-full-width">-->
		<!--<input mdInput placeholder="State">-->
		<!--</md-input-container>-->
		<!--</td>-->
		<!--<td>-->
		<!--<md-input-container class="example-full-width">-->
		<!--<input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">-->
		<!--<md-hint align="end">{{postalCode.value.length}} / 5</md-hint>-->
		<!--</md-input-container>-->
		<!--</td>-->
		<!--</tr>-->
		<!--</table>-->
	</form>

</panel>

